*{
    background-image: url(https://media.istockphoto.com/photos/orange-textile-velvet-fabric-fluffy-background-in-bright-colors-picture-id957616456?b=1&k=20&m=957616456&s=170667a&w=0&h=eduQI4YRZKafXqusTEh_AOktCz_SfpLBif5xoyyh75o=);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
footer{
    text-align: center;
    color: white;
    
}
nav{
    color: white;
}

.navbar-light .navbar-brand {
    color: white; 
}

a.navbar {
color: white; 
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 253 253 / 90%);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
body{
    font-family: 'Lobster';
    color: white;
    
}

